@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 10px;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/***** Body Style Starting *****/

.body-dark {
  background: #191a1a;
}

.body-light {
  background: #e7e7e7;
}

.body-light::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#F0EFE2, #1a1a1a);
  clip-path: circle(20% at right 60%);
}

.body-light::after {
  content: "";
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#FFE400, #ca4000);
  clip-path: circle(20% at 10% 10%);
}

.body-dark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#FFE400, #ca4000);
  clip-path: circle(20% at right 60%);
}

.body-dark::after {
  content: "";
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#F0EFE2, #1a1a1a);
  clip-path: circle(20% at 10% 10%);
}

/***** Body Style Ending *****/

.container {
  position: relative;
  justify-content: center;
  flex-wrap: wrap;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, [col] 120px );
	grid-template-rows: repeat(3, [row] auto  );
}

header {
  grid-column: col 1 / span 12;
	grid-row: row;
  display: grid;
}

.dropdown {
  grid-column: col 1 / span 6;
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 2px;
  background: rgba(255, 255, 255, 0);
  border-radius: 5px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  margin-top: 10px;
}

/***** BUTTON CSS STARTING *****/

.button {
  grid-column: col 9 / span 1;
  grid-row: 1;
  display: flex;
  justify-content: flex-end;
}

.switch-checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 70px;
  height: 40px;
  background: grey;
  border-radius: 100px;
  position: relative;
  transition: background-color .2s;
}

.switch-label .switch-button {
  content: '';
  position: absolute;
  top: -7.5px;
  left: -6.5px;
  width: 35px;
  height: 35px;
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.switch-checkbox:checked + .switch-label .switch-button {
  left: calc(84% - 2px);
  transform: translateX(-100%);
}

.switch-label:active .switch-button {
  width: 60px;
}

/***** BUTTON CSS ENDING *****/



select option {
  background: #191a1a;
  letter-spacing: 2px;
  font-weight: 500;
}

.cards {
  grid-column: col 1 / span 12;
	grid-row: row 2;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
}

.card {
  grid-column-end: span 1;
  display: flex;
  flex-direction: column;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.06);
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

.is-today-true {
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.788);
}

.day-title {
  font-size: 2.5rem;
  font-weight: 100;
  letter-spacing: 3px;
}

.is-today-true .day-title {
  font-weight: 200;
}

.temp {
  display: flex;
  justify-content: space-between;
}

.temp-max {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 2px;
}

.temp-min {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 2px;
}

.is-today-true .temp-max {
  font-weight: 500;
}

.is-today-true .temp-min {
  font-weight: 300;
}

footer {
  grid-column: col 1 / span 12;
	grid-row: row 3;
  text-align: center;
  margin-top: 2rem;
  font-size: 18px;
  font-weight: 200;
}

.link {
  font-size: 20px;
  font-weight: 500;
}

ul {
  list-style-type: none;
  display: block;
}

ul li {
  display: inline;
  position: relative;
  margin: 0;
}

ul li a {
  margin: 0;
}

i {
  font-size: 40px;
}

/***** Theme Toggle Style Starting *****/

.text-light {
  color: #191a1a;
}

.text-dark {
  color: #e7e7e7;
}

.scroll-bg-light {
  background-Color: #191a1a; 
}

.scroll-bg-dark {
  background-Color: #D6D5C9; 
}

.dark::-webkit-scrollbar {
  width: 10px;
  height: 10px;  
  background-color: #191a1a;
}

.dark::-webkit-scrollbar-track {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #191a1a;
  border-radius: 5px;
}

.dark::-webkit-scrollbar-thumb {
  background-color: #EDCC00;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

.light::-webkit-scrollbar {
  width: 10px;
  height: 10px;  
  background-color: #191a1a;
}

.light::-webkit-scrollbar-track {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: #EDCC00;
  border-radius: 5px;
}

.light::-webkit-scrollbar-thumb {
  background-color: #191a1a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
}

a:hover {
  color: #EDCC00;
}

i:hover {
  color: #EDCC00;
}

/***** Theme Toggle Style Ending *****/
